.nav {
  height: 50px;
  padding: 10px;
  background: #5445b8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 15px;
  margin-bottom: 24px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li a {
      margin: 5px 15px;
    }
  }
}
